body {
	margin: 32px;
	/*background-color: #041318;*/
	font-family: Ubuntu Mono !important;
	font-size: medium !important;
	/*color: #ffffff;
	opacity: 99%;*/
	background-color: #FDFDFD;
}
table {
	font-size: medium;
}
a, p {
	font-size: 3em;
	/*color: #ffffff;
	opacity: 99%;*/
	color: #000000;
}
.headline {
	font-family: Trebuchet MS, Arial;
	font-size: 5em;
}
.highlight {
	color: #FF9900;
}