
.heading {
	font-size: 2.5rem;
	line-height: 3rem;
	text-align: center;
	display: block;
	text-decoration: none;
	color: black;
}

.heading:hover {
	color : black;
	text-decoration: none;
}	

.excerpt {
	font-size: 0.8rem;
	text-align: center;
	font-style: italic;
}

.readmore {
	font-size: 0.8rem;
	margin-top: 1rem;
	display: inline-block;
	margin-bottom: 1rem;
	font-style: italic;
}

body {
	background-color: #eff0e0;
	font-family: Cambria;
}

.title {
	font-size: 1.75rem;
	line-height: 1.75rem;
	padding-top: 1rem;
	display: inline-block;
	margin-bottom: 0.5rem;
	text-decoration: none;
	color: black;
}

.title:hover {
	color: black;
}

p {
	line-height: 1rem;
}

.subtitle {
	font-size: 0.8rem;
	line-height: 0.8rem;
	font-style: italic;
}

.text {
	line-height: 1.2rem;
}

.sideheader {
	font-size: 1.1rem;
	line-height: 1.1rem;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0.25rem;
}

.container {
	margin-top: 1rem;
	margin-bottom: 5rem;
}

.col-2 { 
	background-color: #d9d9d9;
	height: 100%;
}

.col-lg {
	background-color: #d9d9d9;
	margin-right: 1rem;
	margin-left: 1rem;
}

.card {
	border: 0px;
}

.folder {
	color: black;
	font-size: 1rem;
	border: 0px;
	text-decoration: none;
}

.sidebar {
	color: black;
	font-size: 1rem;
	border: 0px;
	text-decoration: underline;
}

.sidebar:hover {
	color: black;
}

.folder:hover {
	color: black;
	text-decoration: none;
}

.folder::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 0.2s ease;
}

.folder:hover::before {
	transform: scaleX(1);
}

.card {
	background-color: #d9d9d9;
}

.infolder {
	display: inline-block;
	font-size: 0.8rem;
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
	color: black;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.boarded {
	border: 1px solid black;
	max-width: 90%;
}

ul {
	padding-left: 5rem;
}

a {
	text-decoration: underline;
	color: #0066ff;
}

#commento-submit-button-root {
	background: #ffffff;
	color: black;
	text-transform: none;
}

.commento-button-margin {
	height: 10rem;
}

.commento-footer, .commento-anonymous-checkbox-container, .commento-markdown-button, .commento-sort-policy-buttons,
.commento-comments, .commento-timeago:before, .commento-options {
	display: none;
}

.commento-avatar, .commento-score {
	display: none !important;
}

.commento-name, .commento-subtitle {
	margin-left: 0px !important;
}

::-webkit-input-placeholder {
  text-transform: lowercase;
  font-size: 1rem !important;
}
